/* HEADER*/

header {
  display: flex;
  align-items: center;

  /*debug*/
  background-color: aqua;
  min-height: 100px;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  align-items: center;
}

.header-left {
  flex-grow: 1;

  /*debug*/
  border: 1px dashed black;
  background-color: goldenrod;
  text-align: center;
}

.header-center {
  flex-grow: 5;

  /*debug*/
  border: 1px dashed black;
  background-color: goldenrod;
  text-align: center;
}

.header-right {
  flex-grow: 1;

  /*debug*/
  border: 1px dashed black;
  background-color: goldenrod;
  text-align: center;
}

.container-section-1 {
  flex-grow: 1;
  display: flex;
  padding-left: 350px;
  padding-right: 350px;
  align-items: center;

  /*debug*/
  border: 1px dashed black;
  background-color: blue;
  text-align: center;
  min-height: 300px;
}

.rect-section-1 {
  flex-grow: 1;
  height: 200px;
  width: 400px;

  /*debug*/
  border: 1px dashed black;
  background-color: fuchsia;
}

.container-section-2 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 350px;
  padding-right: 350px;

  /*debug*/
  border: 1px dashed black;
  background-color: white;
  text-align: center;
  min-height: 300px;
}

.rect-section-21 {
  flex-grow: 1;
  height: 200px;
  width: 70%;

  /*debug*/
  border: 1px dashed black;
  background-color: steelblue;
}

.rect-section-22 {
  flex-grow: 1;
  height: 200px;
  width: 40%;

  /*debug*/
  border: 1px dashed black;
  background-color: pink;
}

.container-section-3 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 350px;
  padding-right: 350px;

  /*debug*/
  border: 1px dashed black;
  background-color: rgb(212, 197, 197);
  text-align: center;
  min-height: 300px;
}

.rect-section-31 {
  flex-grow: 1;
  height: 200px;
  width: 40%;

  /*debug*/
  border: 1px dashed black;
  background-color: steelblue;
}

.rect-section-32 {
  flex-grow: 1;
  height: 200px;
  width: 70%;

  /*debug*/
  border: 1px dashed black;
  background-color: pink;
}

.container-section-5 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 500px;
  padding-left: 350px;
  padding-right: 350px;

  /*debug*/
  border: 1px dashed black;
  background-color: rgb(212, 197, 197);
  text-align: center;
  min-height: 500px;
}

.rect-section-5 {
  flex-grow: 1;
  width: 500px;
  height: 450px;
  margin: 0 auto;
  margin-top: 10px;

  /*debug*/
  border: 1px dashed black;
  background-color: green;
}

.container-footer-1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 350px;
  padding-right: 350px;

  /*debug*/
  border: 1px dashed white;
  background-color: rgb(32, 31, 31);
  text-align: center;
  min-height: 400px;
}

.rect-footer-1 {
  flex-grow: 1;
  height: 300px;
  width: 30%;

  /*debug*/
  border: 1px dashed white;
  background-color: rgb(224, 114, 132);
}

.rect-footer-2,
.rec-footer-3,
.rect-footer-4,
.rect-footer-5 {
  flex-grow: 1;
  height: 300px;
  width: 10%;

  /*debug*/
  border: 1px dashed white;
  background-color: aqua;
}

.container-footer-2 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;

  /*debug*/
  border: 1px dashed white;
  background-color: rgb(32, 31, 31);
  text-align: center;
  min-height: 50px;
}

.rect-footer-21 {
  flex-grow: 0;
  height: 15px;
  width: 45px;

  /*debug*/
  border: 1px dashed black;
  background-color: rgb(224, 114, 132);
}

.rect-footer-22 {
  flex-grow: 0;
  height: 15px;
  width: 60px;

  /*debug*/
  border: 1px dashed black;
  background-color: rgb(224, 114, 132);
}

.container-final {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 10px;

  /*debug*/
  border: 1px dashed white;
  background-color: aqua;
  text-align: center;
  min-height: 50px;
}
