/* HEADER*/

header {
  display: flex;
  align-items: center;

  /*debug*/
  background-color: aqua;
  min-height: 100px;
}

.container {
  padding: 50px;
}

.header-left {
  flex-grow: 1;

  /*debug*/
  border: 1px dashed black;
  background-color: goldenrod;
  text-align: center;
}

.header-center {
  flex-grow: 5;

  /*debug*/
  border: 1px dashed black;
  background-color: goldenrod;
  text-align: center;
}

.header-right {
  flex-grow: 1;

  /*debug*/
  border: 1px dashed black;
  background-color: goldenrod;
  text-align: center;
}

.container-section-1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 500px;
  padding-right: 500px;

  /*debug*/
  border: 1px dashed black;
  background-color: blue;
  text-align: center;
  min-height: 300px;
}

.rect-section-1 {
  flex-grow: 1;
  height: 200px;

  /*debug*/
  border: 1px dashed black;
  background-color: fuchsia;
  text-align: center;
}
